:root {
  --accent-color: #2196f3;
  --white-color: #fff;
  --bg-color: #2f303a;
  --grey-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link,
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
}

.footer-link {
  color: white;
}

.web {
  color: var(--accent-color);
}

.address-text {
  color: var(--white-color)
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 1.14;
  letter-spacing: 2%;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-list,
.nav-address > .address-list {
  display: flex;
  gap: 50px;
}

.info:hover {
  color: var(--accent-color);
}

.important {
  display: flex;
  margin-top: 94px;
}

.important-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #fff;
}

.important-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.important-item:nth-child(1)::before {
  display: inline-block;
  content: "";
  margin: 25px 100px;
  background-color: #fff;
  background-image: url(../img/antenna.jpg);
  width: 70px;
  height: 70px;
}

.important-item:nth-child(2)::before {
  display: inline-block;
  content: "";
  margin: 25px 100px;
  background-color: #fff;
  background-image: url(../img/clock.jpg);
  width: 70px;
  height: 70px;
}
.important-item:nth-child(3)::before {
  display: inline-block;
  content: "";
  margin: 25px 100px;
  background-color: #fff;
  background-image: url(../img/diagram.jpg);
  width: 70px;
  height: 70px;
}
.important-item:nth-child(4)::before {
  display: inline-block;
  content: "";
  margin: 25px 100px;
  background-color: #fff;
  background-image: url(../img/astronaut.jpg);
  width: 70px;
  height: 70px;
}

.important-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 3%;
  color: var(--grey-color);
}

.business {
  display: flex;
  padding: 200px 452px;
  background-color: var(--bg-color);
  text-align: center;
}

.business-header {
  color: white;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
}

.business-btn {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
}

.work-header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
}

.our-work {
  display: flex;
}

.work-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.work-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.our-team {
  margin-top: 94px;
}

.our-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
}

.team-header {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 3%;
}

.team-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  color: var(--grey-color);
}


.team-list {
  display: flex;
  gap: 30px;
}

.team-img {
  width: 260px;
}

.team-text,
.team-header {
  display: flex;
  justify-content: center;
}

.footer-address > .address-list {
  padding: 0;
}

footer .address-item {
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-color);
}

.num,
.info {
  color: var(--grey-color);
}
