:root {
  --accent-color: #2196f3;
  --white-color: #fff;
  --bg-color: #2f303a;
  --grey-color: #757575;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link,
.footer-link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 3%;
}

.footer-link,
.address-text,
.team-item {
  color: var(--white-color);
}

.web,
.nav-link:hover,
.info:hover,
.num:hover {
  color: var(--accent-color);
}

.nav-item {
  position: relative;
}


.nav-underline {
  background-color: var(--accent-color);
  height: 4px;
  position: absolute;
  top: 33px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  transition: width 0.3s linear;
}


.num:hover .tel,
.info:hover .mail {
  fill: var(--accent-color);
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: black;
  line-height: 1.14;
  letter-spacing: 2%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:nth-child(1) > .nav-underline,
.nav-link:hover + .nav-underline {
  width: 100%;
}

.nav-item:nth-child(1) > .nav-link {
  color: var(--accent-color);
}


.nav-list,
.nav-address > .address-list,
.team-list,
.important-list,
.our-work {
  display: flex;
  gap: 30px;
}

.nav-list,
.nav-address > .address-list {
  gap: 50px;
}

.important {
  display: flex;
  margin-top: 94px;
}

.our-team {
  background-color: #f5f4fa;
  padding: 95px 0;
  margin-top: 94px;
}

.important-header {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 3%;
  text-transform: uppercase;
}

.important-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
}

.important-item:nth-child(1)::before {
  background-image: url(../img/antenna.png);
}

.important-item:nth-child(2)::before {
  background-image: url(../img/clock.png);
}

.important-item:nth-child(3)::before {
  background-image: url(../img/diagram.png);
}

.important-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.important-text,
.team-text,
.num,
.info,
footer .address-item {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);
}

.business {
  display: flex;
  padding: 200px 452px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4)),
    url(../img/bg_image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.business-header {
  color: white;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 6%;
  text-transform: uppercase;
}

.business-btn {
  background-color: var(--accent-color);
  color: white;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000026;
  line-height: 1.8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.business-btn:hover {
  background-color: #1766a7;
}

.work-header,
.our-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 3%;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
  padding-left: 0;
}

.work-item {
  flex-basis: calc((100% - 30px * 2) / 3);
}

.team-header,
.team-text {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 3%;
  display: flex;
  justify-content: center;
}

.team-header {
  font-weight: 500;
  color: black;
}

.team-text {
  font-weight: 400;
}

.team-item {
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-img {
  width: 270px;
}

.footer-address > .address-list {
  padding: 0;
}

.footer {
  padding: 60px 0;
  background-color: var(--bg-color);
}

.info,
.num,
.mail,
.tel {
  position: relative;
  transition: ease 0.3s;
}

.mail {
  display: block;
  width: 16px;
  height: 12px;
  position: absolute;
  left: -30px;
  top: 2px;
}

.tel {
  display: block;
  width: 10px;
  height: 16px;
  position: absolute;
  left: -17px;
  top: 0;
}

.socials-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
  margin: 0 32px 30px 32px;
}

.item-link {
  padding: 12px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-svg,
.join-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.item-link:hover {
  background-color: var(--accent-color);
}

.item-link:hover .link-svg {
  fill: white;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-header {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.regular-svg {
  display: block;
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-list {
  display: flex;
  gap: 30px;
}

.regular-item {
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-item:hover {
  border-color: var(--accent-color);
}

.regular-item:hover .regular-svg {
  fill: var(--accent-color);
}

footer {
  position: relative;
}

.join {
  position: absolute;
  top: 46px;
  left: 600px;
}

.join-title {
  color: white;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.join-link {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover {
  background-color: var(--accent-color);
}

.join-link:hover .join-svg {
  fill: white;
}

.work-item {
  position: relative;
}

.work-label {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #2f303acc;
  padding: 28px;
  text-align: center;
  color: white;
  position: absolute;
  top: 203px;
  left: 0;
  right: 0;
  user-select: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 20%);
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 200ms ease;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 520px;
  height: 581px;
  padding: 8px 40px 40px;
  background-color: #fff;
  transform: translate(-50%, -50%);
}

[data-modal-close] {
  color: black;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-50%);
}

.no-scroll {
  overflow: hidden;
}

.modal-svg,
.label-svg {
  width: 18px;
  height: 18px;
}

.label-svg {
  position: absolute;
  top: 28px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal > button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 430px;
  padding: 6px;
  border: 1px solid #0000001a;
  border-radius: 50%;
  background-color: transparent;
}

.modal-label {
  position: relative;
  display: block;
  margin-top: 10px;
  font-size: 12px;
  color: #757575;
}

.modal-label:nth-child(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal form {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal .title {
  text-align: center;
}

.form-input,
.form-textarea {
  display: block;
  width: 448px;
  border: 1px solid #21212133;
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  height: 40px;
  margin-top: 4px;
  padding-left: 36px;
}

.form-textarea {
  height: 120px;
  padding: 16px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea::placeholder {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-textarea:hover::placeholder,
.form-textarea:focus::placeholder {
  color: var(--accent-color);
}

.form-input:hover + .label-svg,
.form-input:focus + .label-svg {
  fill: var(--accent-color);
}

.form-checkbox {
  width: 16px;
  height: 16px;
  accent-color: var(--accent-color);
}

.label-text {
  margin-left: 4px;
  line-height: 1.7;
  letter-spacing: 3%;
}

.label-text a {
  color: var(--accent-color);
  text-decoration: underline;
}

.form-send,
.sub-send {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: white;
  background-color: var(--accent-color);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-send {
  padding: 10px 50px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-shadow: 2px 3px 2px #00000026;
}

.form-send:hover,
.sub-send:hover {
  background-color: #1766a7;
}

.sub-send svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: white;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  position: absolute;
  top: 65px;
  left: 860px;
}

.form-row {
  display: flex;
  gap: 12px;
  align-items: center;
}

.sub-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}

.sub-input {
  display: block;
  width: 360px;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  outline: none;
  caret-color: white;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input:hover,
.sub-input:focus {
  border-color: var(--accent-color);
}

.sub-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 3%;
  color: #ffffff99;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-input:hover::placeholder,
.sub-input:focus::placeholder {
  color: var(--accent-color);
}
